* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-text {
  padding: 20px;
}

.contents {
  padding: 50px 0 20px;
  width: 840px;
  margin: 0 auto;
}

.contents-box {
  border-bottom: 1px solid #acabab;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
